{% extends 'base.html' %}

{%block bodyblock %}

<style>
    #image-container {
    display: flex;
    }
</style>

<div>
    <input type="file" id="file" />
  </div>
  <div id="image-container">
    <canvas width="300" height="300"></canvas>
    <div>
      <span>Top Line:</span>
      <br/>
      <input id="topLineText" type="text">
      <br/>
      <span>Bottom Line:</span>
      <br/>
      <input id="bottomLineText" type="text">
      <br/>
      <span>Caption:</span>
        <form id = "memeform" action="{% url 'gallery:create' %}" method="post">
            {% csrf_token %}
        <input name="caption" placeholder="type a caption" type="text">
            <!--<img id = "memeimage" style="display:none" name="image">-->
      <br/>

        </form>
        <button id="saveBtn" class="savebutton btn btn-primary">Save</button>
    </div>
  </div>

{% endblock %}

{% block scriptblock %}

<script>
      function textChangeListener(evt) {
      var id = evt.target.id;
      var text = evt.target.value;

      if (id == "topLineText") {
        window.topLineText = text;
      } else {
        window.bottomLineText = text;
      }

      redrawMeme(window.imageSrc, window.topLineText, window.bottomLineText);
    }

    function redrawMeme(image, topLine, bottomLine) {
      // Get Canvas2DContext
      var canvas = document.querySelector('canvas');
      var ctx = canvas.getContext("2d");
      ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

      function userText(str, y) {
        ctx.font = '36pt Arial';
        ctx.textAlign = 'center';
        ctx.fillStyle = 'white';
        ctx.fillText(str, canvas.width/2, y);

        ctx.strokeStyle = 'black';
        ctx.lineWidth = 0;
        ctx.strokeText(str, canvas.width/2, y);
      }

      if (topLine != null) {
        userText(topLine, 60);
      };
      if (bottomLine != null) {
        userText(bottomLine, 275);
      };

    }

    function saveFile() {
    console.log("listening");
      var url = document.querySelector('canvas').toDataURL();
      console.log(url);
      var input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "image");
      input.setAttribute("value", url);
      document.getElementById("memeform").appendChild(input);
      input = document.createElement("input");
      input.setAttribute("type", "text");
      input.setAttribute("name", "filename");
      input.setAttribute("value", fileName);
      document.getElementById("memeform").appendChild(input);
      document.getElementById("memeform").submit();
    }
    var filename;
    $('input[type="file"]').change(function(e){
            fileName = e.target.files[0].name;
            console.log(typeof(fileName));
            });
    function handleFileSelect(evt) {
      var canvasWidth = 500;
      var canvasHeight = 500;
      var file = evt.target.files[0];

      var reader = new FileReader();
      reader.onload = function(fileObject) {
        var data = fileObject.target.result;

        // Create an image object
        var image = new Image();
        image.onload = function() {

          window.imageSrc = this;
          redrawMeme(window.imageSrc, null, null);
        }

        // Set image data to background image.
        image.src = data;
        //console.log(fileObject.target.result);
      };
      reader.readAsDataURL(file)
    }

    window.topLineText = "";
    window.bottomLineText = "";
    var input1 = document.getElementById('topLineText');
    var input2 = document.getElementById('bottomLineText');
    input1.oninput = textChangeListener;
    input2.oninput = textChangeListener;
    document.getElementById('file').addEventListener('change', handleFileSelect, false);
    document.querySelector('.savebutton').addEventListener('click', saveFile, false);
</script>
{% endblock %}